@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));
body.dark {
  background-color: #121212;
  color: #ffffff;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}
html {
  scroll-behavior: smooth;
}
*{
  font-family: "Outfit", sans-serif;
}